* {
	box-sizing: border-box;
}
body {
	overflow-x: hidden;
	background-color: #333;
	color: #222;
	margin: 0;
}
.content-container {
	background-color: #fafafa;
	transition: transform 0.5s linear;
	transform-origin: top left;
	width: 100vw;
	min-width: 100vh;
	padding: 50px 75px;
}
.container.show-nav .content-container {
	transform: rotate(-20deg);
}
.circle-container {
	position: fixed;
	top: -100px;
	left: -100px;
	z-index: 100;
}
.circle {
	position: fixed;
	background-color: #ff7979;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	transition: transform 0.5s linear 0s;
}
.container.show-nav .circle {
	transform: rotate(-90deg);
	position: fixed;
}
.circle button {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100px;
	background-color: transparent;
	border: 0;
	font-size: 25px;
	color: #fff;
}
.circle button:focus {
	outline: none;
}
.circle button#open {
	left: 60%;
}
.circle button#close {
	top: 60%;
	transform: rotate(90deg);
	transform-origin: top left;
}

.content {
	max-width: 1000px;
	margin: 50px auto;
}
.content img {
	max-width: 100%;
	width: 100%;
	object-fit: cover;
}
.content h1 {
	margin: 0;
}
.content small {
	color: #555;
	font-style: italic;
}
.content p {
	color: #333;
	line-height: 1.5;
}
.container.show-nav + nav li {
	transform: translateX(0);
	transition-delay: 0.3s;
}
nav {
	position: fixed;
	bottom: 40px;
	left: 0;
	z-index: 100;
}
nav ul {
	list-style-type: none;
	padding-left: 30px;
	color: #fff;
}
nav ul li {
	text-transform: uppercase;
	margin: 40px 0;
	transform: translateX(-100%);
	transition: transform 0.4s ease-in;
}
nav ul li i {
	font-size: 20px;
	margin: 0px 10px 0px 0px;
}

nav ul li + li {
	margin-left: 15px;
	transform: translateX(-150%);
}

nav ul li + li + li {
	margin-left: 30px;
	transform: translateX(-200%);
}
